body{
margin: 0;
}
html{
    scroll-behavior: smooth;
}
/*=============================================================home page============================================*/

.home{
width: 100%;
display: grid;
}
.home header{
    background-color: white;
    position: fixed;
    display: flex;
    gap: 237px;
    padding-left: 30px;
    color: #000000b0;
    width: 100%;
}
.home header h1{
    font-style: italic;
    cursor: pointer;
}
.home header .question{
    display: none;
}
.home header ul {
    display: flex;
    gap: 39px;
    list-style: none;
    font-size: 25px;
    text-transform: capitalize;
    color: #000000b0;
}
.home header ul a{
    text-decoration: none;
    color: #000000b0;
    transition: 0.3s;
}
.home header ul a:hover{
   color: rgb(207, 52, 78);
}
.home header .logo {
    display: flex;
    padding-top: 23px;
    gap: 10px;
}
.home header .logo i{
    font-size: 30px;
}
.home section{
background-image: url("../photos/tulips-bouquet-pink-background-with-copyspace.jpg");
background-size: cover;
width: 100%;
height: 855px;
display: grid;
align-content: center;
justify-content: center;

}
.home section .in{
    margin-left: 522px;
    font-size: 26px;

}
.home section .in h1{
    color: #000000d1;
}
.home section .in h3{
    color: #d52a48;
}
.home section .in p{
    color: #00000070;
}
.home section .in .button{
    text-transform: capitalize;
    color: white;
    background-color: #000000d1;
    border: 1px;
    padding: 23px;
    font-size: 20px;
    width: 217px;
    border-radius: 56px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}
.home section .in .button:hover{
    background-color: #d52a48;

}

@media(max-width:519px)
{
   
    .home{
        width: 376px;
        display: grid;
    }
    .home header{
        background-color: white;
        position: fixed;
        display: flex;
        gap: 132px;
        padding-left: 18px;
        color: #000000b0;
        width: 376px;
            
    }

    .home header h1{
        font-style: italic;
        cursor: pointer;
    }
    
    .home header ul a{
        text-decoration: none;
        color: #000000b0;
        transition: 0.3s;
    }
    .home header ul a:hover{
       color: rgb(207, 52, 78);
    }
    .home header .logo {
        display: flex;
        padding-top: 23px;
        gap: 10px;
    }
    .home header .logo i{
        font-size: 30px;
    }

    .home section{
        background-image: url("../photos/tulips-bouquet-pink-background-with-copyspace.jpg");
        background-size: cover;
        width: 376px;
        height:  889px;;
      
        
    }
    .home header ul {
        gap: 20px;
        position: absolute;
        display: none;
        margin-top: 82px;
        background-color: #f898ac;
        width: 106px;
        list-style: none;
        margin-left: 79px;
  
    }

    .home header .question {
        display: block;
        position: absolute;
        cursor: pointer;
        margin-left: 131px;
        margin-top: 35px;
    }
    .home header .question:hover .home header ul{
        display: grid;
    }
    .home section .in{
       
        font-size: 18px;
        margin-left: 0;
        margin-top: 188px;
        width: 277px;
        box-shadow: 1px 1px 10px 10px #00000085;
        padding: 10px;
        margin-top: 410px;
    
    }
    .home section .in h1{
        color: #000000d1;
    }
    .home section .in h3{
        color: #d52a48;
    }
    .home section .in p{
        color: #00000070;
    }
    .home section .in .button{
        text-transform: capitalize;
        color: white;
        background-color: #000000d1;
        border: 1px;
        padding: 23px;
        font-size: 20px;
        width: 217px;
        border-radius: 56px;
        cursor: pointer;
        transition: 0.3s;
        text-align: center;
    }
    .home section .in .button:hover{
        background-color: #d52a48;
    
    }
}
/*========================================================about page============================================*/
.about{
display: grid;
justify-content: center;
}

.about h1{
    text-align: center;
    text-transform: capitalize;
    color: #000000c7;
    font-size: 46px;
    background-color: #f2d4da;
    
}
.about h1 span{
    color: #d52a48;
}
.about section{
    display: flex;
    gap: 52px;
    justify-content: center;
}

.about section video{
   
    border: 1px solid wheat;
    padding: 21px;
    width: 537px;
}
.about section .caption::after{
    content: "BEST FLOWER SELLIERS";
    position: absolute;
    background-color: white;
    width: 546px;
    height: 48px;
    margin-top: -159px;
    margin-left: -612px;
    text-align: center;
    font-size: 36px;
    mix-blend-mode: screen;

}

.about section .caption{
    margin-top: -32px;
}
.about section .caption h2{
    font-size: 35px;
    text-transform: capitalize;
    color: #000000cf;
}
.about section .caption p{
    color: #0000006e;
}
.about section .caption .button2
{
    background-color: black;
    color: white;
    width: 155px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 57px;
    cursor: pointer;
    transition: 0.3s;
}
.about section .caption .button2:hover{
    background-color: #d52a48;
}
@media(max-width:519px)
{
        .about{
            display: grid;
            justify-content: center;
            width: 376px;
        }
        
        .about h1{
            text-align: center;
            text-transform: capitalize;
            color: #000000c7;
            font-size: 46px;
            background-color: #f2d4da;
            width: 376px;
        
            
        }
        .about h1 span{
            color: #d52a48;
        }
        .about section{
            display: grid;
            gap: 52px;
            justify-content: center;
            width: 376px;
        }
        
        .about section video{
           
            border: 1px solid wheat;
            padding: 21px;
            width: 307px;
            display: inherit;
        }
        .about section .caption::after{
            content: "BEST FLOWER SELLIERS";
            position: absolute;
            background-color: white;
            width: 376px;
            height: 48px;
            margin-top: -159px;
            margin-left: -612px;
            text-align: center;
            font-size: 36px;
            mix-blend-mode: screen;
        
        }
        
        .about section .caption{
            margin-top: -32px;
        }
        .about section .caption h2{
            font-size: 27px;
            text-transform: capitalize;
            color: #000000cf;
            text-align: center;
        }
        .about section .caption p{
            color: #0000006e;
            margin-left: 16px;
        }
        .about section .caption .button2
        {
            background-color: black;
            color: white;
            width: 155px;
            padding: 10px;
            border-radius: 20px;
            text-align: center;
            text-transform: capitalize;
            font-size: 20px;
            margin-top: 57px;
            cursor: pointer;
            transition: 0.3s;
            margin-left: 94px;
        }
        .about section .caption .button2:hover{
            background-color: #d52a48;
        }


}

/*=============================================products======================================================*/


.products .one{
    display: flex;
    background-color: #eee;
    padding: 20px;
    justify-content: center;
    gap: 56px;
}
.products .one div{
    font-size: 34px;
    display: flex;
    gap: 23px;
    background-color: white;
    width: 267px;
    border-radius: 11px;
    padding-left: 10px;
}
.products .one div nav
{
    font-size: 20px;
}
.products .one div nav h5{
    font-size: 22px;
    margin-bottom: 0;
    text-transform: capitalize;
    color: #ff0531;
}



.products .two{
display: grid;
justify-content: center;
}
.products .two h1{
    text-align: center;
    text-transform: capitalize;
    color: #000000c7;
    font-size: 46px;
    background-color: #f2d4da;
}
.products .two h1 span{
    color: #d52a48;
}
.products .two .collection{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 77px;
      
    row-gap: 27px;
}

.products .two .collection div{
    box-shadow: 1px 1px 50px 10px #0000003d;
    border: 1px solid wheat;
    width: 322px;
    height: 433px;
    display: grid;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.products .two .collection div p{
    margin-left: 23px;
    color: #ff3e5f;
    font-size: 20px;
    background-color: #ffc0cb61;
    width: fit-content;
}
.products .two .collection div img{
    width: 195px;
    height: 212px;
    transition: 0.3s;
    cursor: pointer;
    padding-top: 29px;
}
.products .two .collection div:hover img
{
    transform: scale(1.3);
}
.products .two .collection div h4{
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
}
.products .two .collection div nav{
    position: relative;
    margin-top: -48px;
    display: flex;
    gap: 20px;
    margin-left: 87px;

}
.products .two .collection div nav h4{
    font-size: 26px;
    color: #ee2f51;
}
.products .two .collection div nav p{
    color: #000000a1;
    position: absolute;
    margin-left: 87px;
    margin-top: 49px;
    background-color: transparent;
  
}
.products .two .collection div span{
    position: absolute;
    left: 0;
    background-color: white;
    width: 343px;
    transition: bottom 0.3s ease;
    display: flex;
    gap: 2px;
    justify-content: center;
    bottom: -100%;
    color: white;
    margin-left: -19px;
    text-transform: capitalize;
}
.products .two .collection div article
{
    position: relative;
    overflow: hidden;
    width: 322px;
    display: grid;
    justify-content: center;
    height: 222px;
    margin-top: -42px;
}
.products .two .collection div:hover span{
   bottom: 0;
}
.products .two .collection div span aside:hover{
  background-color:#2b2426;
}


.products .two .collection div span aside h3{
    text-align: center;
}
.products .two .collection div span aside{
    background-color: #d52a48;
    width: 33.3%;
    cursor: pointer;
    transition: 0.3s;
}

@media(max-width:519px)
{
    

.products .one{
    display: grid;
    background-color: #eee;
    padding: 20px;
    justify-content: center;
    gap: 56px;
}
.products .one div{
    font-size: 34px;
    display: flex;
    gap: 23px;
    background-color: white;
    width: 267px;
    border-radius: 11px;
    padding-left: 10px;
}
.products .one div nav
{
    font-size: 20px;
}
.products .one div nav h5{
    font-size: 22px;
    margin-bottom: 0;
    text-transform: capitalize;
    color: #ff0531;
}



.products .two{
display: grid;
justify-content: center;
}
.products .two h1{
    text-align: center;
    text-transform: capitalize;
    color: #000000c7;
    font-size: 46px;
    background-color: #f2d4da;
}
.products .two h1 span{
    color: #d52a48;
}
.products .two .collection{
    display: grid;
    grid-template-columns: repeat(1,auto);
    gap: 77px;
      
    row-gap: 27px;
}

.products .two .collection div{
    box-shadow: 1px 1px 50px 10px #0000003d;
    border: 1px solid wheat;
    width: 322px;
    height: 433px;
    display: grid;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.products .two .collection div p{
    margin-left: 23px;
    color: #ff3e5f;
    font-size: 20px;
}
.products .two .collection div img{
    width: 195px;
    height: 212px;
    transition: 0.3s;
    cursor: pointer;
    padding-top: 29px;
}
.products .two .collection div:hover img
{
    transform: scale(1.3);
}
.products .two .collection div h4{
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
}
.products .two .collection div nav{
    position: relative;
    margin-top: -48px;
    display: flex;
    gap: 20px;
    margin-left: 35px;

}
.products .two .collection div nav h4{
    font-size: 26px;
    color: #ee2f51;
}
.products .two .collection div nav p{
    color: #000000a1;
    position: absolute;
    margin-left: 87px;
    margin-top: 49px;
  
}
.products .two .collection div span{
    position: absolute;
    left: 0;
    background-color: white;
    width: 343px;
    transition: bottom 0.3s ease;
    display: flex;
    gap: 2px;
    justify-content: center;
    bottom: -100%;
    color: white;
    margin-left: -19px;
    text-transform: capitalize;
}
.products .two .collection div article
{
    position: relative;
    overflow: hidden;
    width: 322px;
    display: grid;
    justify-content: center;
    height: 222px;
    margin-top: -42px;
}
.products .two .collection div:hover span{
   bottom: 0;
}
.products .two .collection div span aside:hover{
  background-color:#2b2426;
}


.products .two .collection div span aside h3{
    text-align: center;
}
.products .two .collection div span aside{
    background-color: #d52a48;
    width: 33.3%;
    cursor: pointer;
    transition: 0.3s;
}

}
/*=============================================================review page===========================================*/
.review{
    margin-top: 102px;
    display: grid;
    justify-content: center;
}
.review h1{
    text-align: center;
    text-transform: capitalize;
    color: #000000c7;
    font-size: 46px;
    background-color: #f2d4da;
}
.review h1 span{
    color: #d42947;
}
.review .container{
    display: flex;
    gap: 48px;
}

.review .container .element{
    box-shadow: 1px 1px 50px 10px #0000003d;
    border: 1px solid wheat;
    width: 322px;
    height: 351px;
    display: grid;
    justify-content: center;
    border-radius: 6px;
    padding-left: 21px;
    padding-top: 10px;
}
.review .container .element .icon h1{
    font-size: 78px;
    position: absolute;
    margin-top: -131px;
    margin-left: 258px;
    background-color: transparent;
    color: #00000078;

}
.review .container .element .icons{
    color: #d42947;
}
.review .container .element p{
    color: #00000087;
}
.review .container .element .info{
    display: flex;
    gap: 17px;
    margin-top: 28px;
    text-transform: capitalize;
    font-size: 20px;
}
.review .container .element .info img{
    width: 89px;
    border-radius: 50px 50px;
    height: 85px;
}
.review .container .element .info aside p{
    color: #000000b0;
}
@media(max-width:519px)
{
    
.review .container{
    display: grid;
    gap: 48px;
    justify-content: center;
}

.review .container .element{
    box-shadow: 1px 1px 50px 10px #0000003d;
    border: 1px solid wheat;
    width: 322px;
    height: 351px;
    display: grid;
    justify-content: center;
    border-radius: 6px;
    padding-left: 21px;
    padding-top: 10px;
}
.review .container .element .icon h1{
    font-size: 78px;
    position: absolute;
    margin-top: -131px;
    margin-left: 258px;
    background-color: transparent;
    color: #00000078;

}
.review .container .element .icons{
    color: #d42947;
}
.review .container .element p{
    color: #00000087;
}
.review .container .element .info{
    display: flex;
    gap: 17px;
    margin-top: 28px;
    text-transform: capitalize;
    font-size: 20px;
}
.review .container .element .info img{
    width: 89px;
    border-radius: 50px 50px;
    height: 85px;
}
.review .container .element .info aside p{
    color: #000000b0;
}
}

/*=================================================contact page==================================================*/

.contact
{
    display: grid;
    justify-content: center;
    margin-top: 20px;
  
}
.contact h1{
    text-align: center;
    text-transform: capitalize;
    color: #000000c7;
    font-size: 46px;
    background-color: #f2d4da;
}
.contact h1 span{
    color: #db336e;
}
.contact .collect
{
    display: flex;
    width: 1131px;
    gap: 138px;
    justify-content: center;

}
.contact .collect form
{
    display: grid;
    width: 53%;
    gap: 20px;
    box-shadow: 1px 1px 30px 10px #00000047;
    padding: 30px;
    border-radius: 20px;
    text-transform: capitalize;
}
.contact .collect form textarea
{
    padding-left: 20px;
    font-size: 17px;
}
.contact .collect form input
{
    width: 97%;
    padding-left: 20px;
    font-size: 17px;
}

.contact .collect form .uni{
    text-transform: capitalize;
  width: 50%;
  background-color: #000000b5;
  font-size: 20px;
  border-radius: 49px;
  color: white;
  border: 1px;
  cursor: pointer;
  transition: 0.3s;
}
.contact .collect form .uni:hover{
    background-color: rgb(218, 43, 101);
}

.contact .collect img
{
    width: 47%;
}
@media(max-width:519px){
    
.contact
{
    display: grid;
    justify-content: center;
    margin-top: 20px;
  
}
.contact h1{
    text-align: center;
    text-transform: capitalize;
    color: #000000c7;
    font-size: 46px;
    background-color: #f2d4da;
}
.contact h1 span{
    color: #db336e;
}
.contact .collect
{
    display: grid;
    width: 338px;
    gap: 0;
    justify-content: center;

}
.contact .collect form
{
    display: grid;
    width: 70%;
    gap: 20px;
    box-shadow: 1px 1px 30px 10px #00000047;
    padding: 30px;
    border-radius: 20px;
    text-transform: capitalize;
    margin-left: 20px;
}
.contact .collect form textarea
{
    padding-left: 20px;
    font-size: 17px;
}
.contact .collect form input
{
    width: 97%;
    padding-left: 20px;
    font-size: 17px;
}

.contact .collect form .uni{
    text-transform: capitalize;
    width: 99%;
    background-color: #000000b5;
    font-size: 20px;
    border-radius: 49px;
    color: white;
    border: 1px;
    cursor: pointer;
    transition: 0.3s;
}
.contact .collect form .uni:hover{
    background-color: rgb(218, 43, 101);
}

.contact .collect img
{
    width: 74%;
    margin-left: 45px;
}
}
/*========================================================footer==============================================*/
footer
{
    margin-top: 57px;
}
footer section
{
    display: flex;
    gap: 176px;
    justify-content: center;
    text-transform: capitalize;

}
footer section div
{
    
}
footer section div .icons
{
    
}
footer section div .icons img
{
    width: 100px;
}

footer section div h1
{
    color: #000000ba;
}
footer section div p
{
    color: #0000004f;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;

}
footer section div p:hover{
    color: rgb(235, 73, 127);
    text-decoration: underline;
}
footer aside{
text-align: center;
font-size: 30px;
}
footer aside p{
    
}

footer aside p span{
    color: rgb(233, 73, 126);
}

@media(max-width:519px){
    footer
    {
        margin-top: 57px;
    }
    footer section
    {
        display: grid;
        gap: 176px;
        justify-content: center;
        text-transform: capitalize;
    
    }
    
    footer section div .icons img
    {
        width: 100px;
    }
    
    footer section div h1
    {
        color: #000000ba;
    }
    footer section div p
    {
        color: #0000004f;
        cursor: pointer;
        transition: 0.3s;
        font-size: 20px;
    
    }
    footer section div p:hover{
        color: rgb(235, 73, 127);
        text-decoration: underline;
    }
    footer aside{
    text-align: center;
    font-size: 20px;
    }
    
    
    footer aside p span{
        color: rgb(233, 73, 126);
    }


}
